.texto-grande{
  font-size: 4rem;
  line-height: 1.125;
  font-family: var(--fonte-padrao1);
  font-weight: 600;
}

.texto-medio{
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: var(--fonte-padrao2);
  font-weight: 400;
}